@import "./base.css";

#text {
  margin: 2rem;
}

.submit-btn {
  border-radius: 10px;
  padding: 10px;
}

.submit-btn:hover {
  outline: 2px solid var(---very-dark-grayish-blue);
  background-color: var(--card-bg-color);
  cursor: pointer;
}
