:root {
  --soft-blue: hsl(240, 73%, 65%);
  --soft-violet: hsl(273, 75%, 66%);
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
}

body {
  background: linear-gradient(to bottom, var(--soft-violet), var(--soft-blue))
    no-repeat;
  background-size: cover;
  box-sizing: border-box;
  color: var(--very-dark-desaturated-blue);
  font-family: "Kumbh Sans", sans-serif;
  height: 100vh;
}

main {
  background: white;
  border-radius: 1rem;
  box-shadow: 10px 10px 21px rgba(0, 0, 0, 0.4);
  margin: 21vh auto;
  padding: 2rem;
  position: relative;
  width: min(400px, 80%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 1.5rem;
}

#text {
  margin: 2rem;
}

.submit-btn {
  border: 0;
  border-radius: 10px;
  padding: 10px;
}

.submit-btn:hover {
  cursor: pointer;
}
