@import "../../global/css/index.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: hsl(210, 46%, 95%);
  font-family: "Kumbh Sans", sans-serif;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

header {
  margin-bottom: 4rem;
}

#cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  column-gap: 2.1rem;
  width: clamp(200px, 90%, 1280px);
}

#first-card {
  background-repeat: no-repeat;
  background-position-x: 85%;
  background-color: hsl(263, 55%, 52%);
}

#second-card {
  background: hsl(217, 19%, 35%);
}

#third-card {
  background: white;
}
