@import "./base.css";

#cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  column-gap: 2.1rem;
  width: clamp(210px, 90%, 1280px);
}

#first-card {
  background-repeat: no-repeat;
  background-position-x: 85%;
  background-color: var(--first-card-bg);
}

#second-card {
  background: var(--second-card-bg);
}

#third-card {
  background: var(--third-card-bg);
}

.card {
  border-radius: 1rem;
  box-shadow: 0 0 1rem -5px black;
  margin-bottom: 2rem;
  padding: 2rem;
  transition: 0.5s;
  height: 200px;
  width: 100%;
}

.card:hover {
  cursor: pointer;
  scale: 1.1;
}
