@import "../../global/css/index.css";
@import "./variables.css";

* {
  transition: all 0.5s ease-in-out;
  font-family: "Space Mono", monospace;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  color: var(--txt-color-primary);
}

body {
  background: var(--bg-color-primary);
  color: var(--txt-color-primary);
}

main {
  height: 100vh;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 8rem;
  width: var(--main-wrapper);
}

h1 {
  font-size: var(--font-size-lg);
}

h2 {
  font-size: var(--font-size-md);
}

h3 {
  font-size: var(--font-size-sm);
}

h4 {
  font-size: var(--font-size-xsm);
}
