@import "./base.css";

.search-form {
  background-color: var(--bg-color-secondary);
  border-radius: var(--border-radius-md);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 37px;
  padding: 7px 10px;
  width: 370px;
}

.search-icon {
  height: 20px;
  width: 20px;
}

.search-input {
  background: transparent;
  border: none;
  border-radius: 5px;
  outline: none;
  margin: 0 10px;
  padding: 10px;
  height: 35px;
  width: 100%;
}

.search-btn {
  background-color: var(--primary-color-accent);
  border: none;
  border-radius: var(--border-radius-sm);
  font-weight: 700;
  height: 40px;
  padding: 10px;
  outline: none;
  text-transform: capitalize;
}

.search-btn:hover {
  background-color: var(--primary-color-accent-hover);
  cursor: pointer;
}

.content {
  background-color: var(--bg-color-secondary);
  border-radius: var(--border-radius-md);
  margin-top: 1.5rem;
  width: 370px;
  padding: 1.5rem;
}

.profile-wrapper {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.user-img {
  width: 70px;
  height: 70px;
}

.username {
  color: var(--primary-color-accent);
}

.creation-date-wrapper {
  margin-top: 5px;
  text-transform: capitalize;
}

.bio-info {
  font-size: var(--h3-size);
  margin-bottom: 0.3rem;
}
