@import "./base.css";

.search-form {
  background-color: var(--bg-color-secondary);
  border-radius: var(--border-radius-md);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 37px;
  padding: 7px 10px;
  width: 370px;
}

.search-icon {
  height: 20px;
  width: 20px;
}

.search-input {
  background: transparent;
  border: none;
  border-radius: 5px;
  outline: none;
  margin: 0 10px;
  padding: 10px;
  height: 35px;
  width: 100%;
}

.search-btn {
  background-color: var(--primary-color-accent);
  border: none;
  border-radius: var(--border-radius-sm);
  font-weight: 700;
  height: 40px;
  padding: 10px;
  outline: none;
  text-transform: capitalize;
}

.search-btn:hover {
  background-color: var(--primary-color-accent-hover);
  cursor: pointer;
}

.content {
  background-color: var(--bg-color-secondary);
  border-radius: var(--border-radius-md);
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-direction: column;
  margin-top: 1.5rem;
  width: 370px;
  padding: 1.5rem;
}

.profile-wrapper {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.user-img {
  width: 70px;
  height: 70px;
}

.username {
  color: var(--primary-color-accent);
}

.creation-date-wrapper {
  margin-top: 5px;
  text-transform: capitalize;
}

.bio-info {
  font-size: var(--h3-size);
  margin-bottom: 0.3rem;
}

.activity-wrapper {
  background-color: var(--bg-color-primary);
  border-radius: var(--border-radius-md);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  text-align: center;
}

.activity-wrapper h4 {
  text-transform: capitalize;
  margin-bottom: 10px;
}

.activity-wrapper p {
  font-weight: 700;
}

.contact-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
}

.contact-list li {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.contact-list img {
  height: 20px;
  width: 20px;
}

.contact-list .location-icon {
  height: 20px;
  width: 14px;
  margin: 0 3px;
}

.contact-link {
  color: var(--secondary-color-accent);
}

.contact-link:hover {
  text-decoration: underline;
}

.disabled {
  pointer-events: none;
  color: var(--primary-color-disabled);
}
