@import "./base.css";

#search-form {
  background-color: var(--bg-color-secondary);
  border-radius: var(--border-radius-md);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 37px;
  padding: 7px 10px;
  width: 100%;
}

#search-icon {
  height: 20px;
  width: 20px;
}

#search-input {
  background: transparent;
  border: none;
  border-radius: 5px;
  outline: none;
  margin: 0 10px;
  padding: 10px;
  height: 35px;
  width: 100%;
}

#search-btn {
  background-color: var(--primary-color-accent);
  border: none;
  border-radius: var(--border-radius-sm);
  font-weight: 700;
  height: 40px;
  padding: 10px;
  outline: none;
  text-transform: capitalize;
  word-break: initial;
}

#search-btn:hover {
  background-color: var(--primary-color-accent-hover);
  cursor: pointer;
}

#content {
  background-color: var(--bg-color-secondary);
  border-radius: var(--border-radius-md);
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-direction: column;
  margin-top: 1.5rem;
  width: 100%;
  padding: 1.5rem;
}

#profile-wrapper {
  display: flex;
  align-items: center;
}

.user-img {
  width: 70px;
  height: 70px;
  margin-right: 1.5rem;
}

#username {
  font-size: var(--font-size-sm);
  text-transform: lowercase;
}

#creation-date-wrapper {
  margin-top: 5px;
  text-transform: capitalize;
}

#bio-info {
  font-size: var(--font-size-sm);
  margin-bottom: 0.3rem;
}

#activity-wrapper {
  background-color: var(--bg-color-primary);
  border-radius: var(--border-radius-md);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  text-align: center;
}

#activity-wrapper h4 {
  text-transform: capitalize;
  margin-bottom: 10px;
}

#activity-wrapper p {
  font-weight: 700;
}

#contact-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

#contact-list li {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
  word-break: break-all;
}

#contact-list img {
  height: 20px;
  width: 20px;
}

#contact-list #location-icon {
  height: 20px;
  width: 14px;
  margin: 0 3px;
}

.contact-link {
  color: var(--secondary-color-accent);
}

.contact-link:hover {
  text-decoration: underline;
}

.disabled {
  pointer-events: none;
  color: var(--primary-color-disabled);
}

@media (min-width: 620px) {
  #profile {
    height: 100%;
  }

  .user-img {
    height: 120px;
    width: 120px;
    margin-bottom: 0.5rem;
    margin-right: 2rem;
  }

  #fullname {
    font-size: var(--font-size-lg);
    margin-bottom: 0.5rem;
  }

  #username {
    font-size: var(--font-size-md);
    margin-bottom: 0.5rem;
  }
}

@media (min-width: 770px) {
  .content {
  #content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 0;
  }

  article {
    grid-column: 2;
    margin-bottom: 1.5rem;
  }

  #profile-wrapper {
    grid-column: 2;
    margin-bottom: 0;
  }

  #profile {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  #fullname {
    grid-column: 1;
    grid-row: 1;
    max-width: 300px;
  }

  #username {
    grid-column: 1;
    grid-row: 2;
  }

  #creation-date-wrapper {
    font-size: var(--font-size-md);
    grid-column: 2;
    padding-top: 3px;
  }
}
