:root {
  --bg-color-primary: hsl(220, 40%, 13%);
  --bg-color-secondary: hsl(222.44, 40.59%, 19.8%);
  --txt-color-primary: hsl(0, 0%, 100%);
  --txt-color-secondary: hsl(350, 4.62%, 74.51%);
  --txt-color-error: hsl(0, 91.71%, 62.16%);
  --primary-color-accent: hsl(211.53, 100%, 50%);
  --primary-color-accent-hover: hsl(212, 98%, 38%);
  --secondary-color-accent: hsl(189, 100%, 64%);
  --primary-color-disabled: hsl(212, 14%, 40%);

  --h1-size: 25px;
  --h2-size: 16px;
  --h3-size: 13px;
  --h4-size: 11px;

  --border-radius-sm: 5px;
  --border-radius-md: 10px;
  --border-radius-lg: 15px;
}
