@import "./base.css";
@import "./buttons.css";

#form {
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius-small);
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  width: 100%;
}

.title {
  color: #fff;
  margin: 21px 0;
  text-align: center;
}

.form-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3px 0;
  margin: 8px 3px;
  position: relative;
}

.label-icon {
  filter: invert(1);
  height: 20px;
  width: 20px;
  margin: 0 5px;
}

.input {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: calc(10px / 2);
  color: #fff;
  font-size: 1rem;
  padding: 10px;
  transition: 0.3s;
  margin-left: 5px;
  margin-bottom: 5px;
  width: 100%;
}

#form-actions {
  display: flex;
  align-items: center;
}
