@import "./base.css";
@import "./buttons.css";

#form {
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius-small);
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  width: 100%;
}

.title {
  color: #fff;
  margin: 21px 0;
  text-align: center;
}

.form-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.label-icon {
  filter: invert(1);
  height: 20px;
  width: 20px;
  margin: 0 5px;
}

.input {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: var(--border-radius-sm);
  color: #fff;
  font-size: 1rem;
  padding: 10px;
  width: 100%;
}

.input:focus {
  outline: none;
}

#message-input {
  min-height: 100px;
}

#form-actions {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin-left: 29px;
}

.outline-error {
  outline: 1px solid var(--bg-color-warning);
}

.outline-success {
  outline: 1px solid var(--bg-color-success);
}

.required-symbol {
  color: var(--bg-color-warning);
  position: absolute;
  top: 0;
  left: 0px;
}

.input-wrapper {
  padding: 5px;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.error-message {
  background-color: var(--bg-color-warning-transparent);
  border-radius: var(--border-radius-sm);
  font-size: var(--font-size-sm);
  height: 0;
  overflow: hidden;
  width: 100%;
  text-align: justify;
}

.show-error-message {
  height: 35px;
  padding: 10px;
}

@media (min-width: 620px) {
  #form-inputs {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
  }

  #email-label {
    grid-column: 1;
    grid-row: 2;
  }

  #message-label {
    grid-column: 2;
    grid-row: 1 / span 2;
  }

  #message-label > img {
    display: none;
  }
}
